html, body{
    background-color: #D7F0EC; 
    margin: 0px;
}

.container{
    background-color: #E7F2F0; 
    width: 1440px;
    margin-left: auto;
    margin-right: auto;

    margin-top: -63px;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
  }

  .nav-bar {
    overflow: hidden;
    background-color: #59A091;
    font-family: 'Manrope', sans-serif;

  }
  .nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
  }

  /*mouse over*/
  .nav-bar a:hover{
      background-color: #2D7969; 
  }
  

h1{
    position: relative;
    width: 610px;
    height: 131px;
    left: 63px;
    top: 56px;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 131px;
    text-align: center;
    
    color: #000000; 
}
.rectangle1{
    position: relative;
    width: 622px;
    height: 6px;
    left: 63px;    
    background: #59A091;
}

.seaweed_text{
    position: relative;
    width: 479px;
    height: 90px;
    left: 127px;
    top: 30px;
    
    font-family: Quicksand;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
}
.seaweed{
    font-weight: bold;
    color: #59A091;
}

.seaweed_text2{
    position: relative;
    width: 479px;
    height: 90px;
    left: 150px;
    top: 50px;
    
    font-family: Quicksand;
    font-style: normal;
    font-size: 25px;
    
    color: #000000;
}

.mango_text{
    position: relative;
    width: 483px;
    height: 127px;
    left: 123px;
    top: 70px;
    
    font-family: Quicksand;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000; 
}
.mango{
    font-weight: bold;
    color: #FFC32E; 
}

.mango_text2{
    position: relative;
    width: 483px;
    height: 127px;
    left: 123px;
    top: 70px;
    
    font-family: Quicksand;
    font-style: normal;
    font-size: 25px;
    color: #000000; 
}

.salmon_text{
    position: relative;
width: 466px;
height: 141px;
left: 123px;
top: 70px;
font-family: Quicksand;
font-style: normal;
font-size: 18px;
line-height: 22px;
color: #000000;
}

.salmon{
    font-weight: bold;
    color: #F16D6D;
  }

.salmon_text2{
    position: relative;
    width: 466px;
    height: 141px;
    left: 123px;
    top: 70px;
    font-family: Quicksand;
    font-style: normal;
    font-size: 25px;
    color: #000000;
}  

.blackberry_text{
    position: relative;
width: 483px;
height: 127px;
left: 123px;
top: 70px;

font-family: Quicksand;
font-style: normal;
font-size: 18px;
line-height: 22px;

color: #000000;
}
.blackberry{
    font-weight: bold;
    color: #302B40;
}

.blackberry_text2{
    position: relative;
    width: 483px;
    height: 100px;
    left: 100px;
    top: 50px;
    
    font-family: Quicksand;
    font-style: normal;
    font-size: 25px;
    
    color: #000000;
}

.coconut_text{
    position: relative;
width: 501px;
height: 127px;
left: 123px;
top: 70px;

font-family: Quicksand;
font-style: normal;
font-size: 18px;
line-height: 22px;

color: #000000;
}
.coconut{
    font-weight: normal;
    color:#FFFFFF;
    text-shadow:2px 2px #000000;
}

.coconut_text2{
    font-family: Quicksand;
    font-style: normal;
    font-size: 25px;

    color: #000000;
    width: 500px;
    left: 230px;
    
    margin-top: 50px;
    position: absolute;
}

.color_description{
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 140%;
}
.color_number{
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 140%;
    color: #000000; 
}

.seaweed_color{
    position: relative;
    width: 128px;
    height: 124px;
    left: 772px;
    top: -840px;
}

.seaweed_color_bar{
    position: relative;
    width: 128px;
    height: 29px;
    left: 965px;
    top: -915px;
}

.seaweed_name{
    position: relative;
    width: 313px;
    height: 62px;
    left: 1148px;
    top: -1040px;

    color: #59A091;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.seaweed_color_number{
    position: relative;
    width: 313px;
    height: 31px;
    left:1150px;
    bottom: 1479px;
    
}
.seaweed_color:hover{
    transform: translateY(-10px);   
    }

.mango_color{
    position: relative;
    width: 128px;
    height: 124px;
    left: 640px;
    top: -655px;
}

.mango_color_bar{
    position: relative;
    width: 128px;
    height: 29px;
    left: 835px;
    top: -740px;
}
.mango_color:hover{
    transform: translateY(-10px);   
    }

.mango_name{
    position: relative;
    width: 313px;
    height: 62px;
    left: 1148px;
    bottom: 970px;
 
    color: #FFC32E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mango_color_number{
    position: relative;
    width: 313px;
    height: 31px;
    left: 1149px;
    bottom: 1360px;
}

.salmon_color{
    position: relative;
width: 128px;
height: 123px;
left: 510px;
top: -460px;
}
.salmon_color:hover{
    transform: translateY(-10px);   
    }
.salmon_color_bar{
    position: relative;
width: 128px;
height: 30px;
left: 700px;
top: -540px;
}

.salmon_name{
    position: relative;
width: 313px;
height: 62px;
left: 1148px;
top: -865px;
color: #F16D6D;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.salmon_color_number{
    position: relative;
width: 313px;
height: 31px;
left: 1148px;
bottom: 1220px;
}

.blackberry_color{
    position: relative;
width: 127px;
height: 124px;
left: 380px;
top: -270px;
}

.blackberry_color:hover{
transform: translateY(-10px);   
}
.blackberry_color_bar{
    position: relative;
    width: 128px;
    height: 29px;
    left: 570px;
    top: -350px;
}

.blackberry_name{
    position: relative;
    width: 313px;
    height: 62px;
    left: 1148px;
    top: -775px; 
    color: #302B40;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blackberry_color_number{
    position: relative;
    width: 313px;
    height: 46px;
    left: 1148px;
    bottom: 1090px;
}

.coconut_color{
    position: relative;
width: 127px;
height: 124px;
left: 250px;
top: -80px;
}
.coconut_color:hover{
    transform: translateY(-10px);   
    }

.coconut_color_bar{
    position: relative;
width: 128px;
height: 29px;
left: 430px;
top: -160px;
}

.coconut_name{
    position: relative;
    width: 313px;
    height: 62px;
    left: 1148px;
    top: -680px; 
    color: #FFFFFF;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.4);
}

.coconut_color_number{
    position: relative;
width: 313px;
height: 46px;
left: 1148px;
bottom: 970px;
}

.visual_example{
    position: relative;
    width: 693px;
    height: 131px;
    left: 661px;
    top: 50px;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 131px;
    text-align: center;
    
    color: #000000; 
}

.rectangle2{
position: relative;
width: 900px;
height: 6px;
left: 470px;
top: 5px;
background: #59A091;
}

.body2 {
    background-color:#BEE2DC;
    margin-top: -850px;
    position: relative;
    
}

.part2 {
    display: inline-flex;
    margin:50px;
    margin-left: 200px;
}

.textandicons{
    justify-content: center;
    align-items: center;
    margin:auto;
}

#para{
    position: relative;
    margin-left:100px;
}

.img1{
    margin-top: 70px;
}