html, body{
    background-color: #D7F0EC; 
    margin: 0;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
  }

  .nav-bar {
    overflow: hidden;
    background-color: #59A091;
    font-family: 'Manrope', sans-serif;

  }
  
  .nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    transition: 0.3s;
  }

  /*mouse over*/
  .nav-bar a:hover{
      background-color: #2D7969; 
  }
.icondiv{
    margin-top: 100px;
    
}

.iconsheader{
    font-size: 96px;
    position:relative;
    left:50px;
    margin-top: 50px;
    font-family: manrope;
}

.rectangle1{
    position: absolute;
    width: 972px;
    height: 6px;
    left: -10px;
    top: 150px;

    background: #59A091;
}

.icon-container{
    display:inline-flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 35px;
}

.image1 {
    width: 150px;
    height: 150px;
    position: relative;
    top:100px;

    
}

.text1{
    margin-left: 50px;
    margin-right: 50px;
}

.iconcont{
    font-size: 30px;
    font-weight: medium;
    font-family: manrope;
}

.para1{
    font-size: 30px;
    font-family: quicksand;
}

.imagery{
    background-color: #BEE2DC;
    padding-top: 1px;
    height: 1000px;
    margin-bottom: 0%;
    margin-top: 100px;
}

.imageryheader{
    font-size: 96px;
    position:relative;
    left:1000px;
    top: -40px;
    font-family: manrope;
}

.rectangle2{
    position: absolute;
    width: 832px;
    height: 6px;
    left: -450px;
    top: 150px;

    background: #59A091;
}

.foodimage1{
    position: relative;
    left:100px;
    top:60px;
    
}

.foodimage2{
    width:333;
    height: 333;
    position: relative;
    left:-120px;
    top:300px;
}

.foodimage3{
    position: relative;
    left:-105px;
    top:125px;
    
}

.imagerypara{
    font-size:30px;
    font-family:quicksand;
    position: relative;
    left:-50px;
}

.imagerydiv{
    display: inline-flex;
}

.container{
    margin-left: auto;
    margin-right: auto;

    margin-top: -95px;
    width: 1440px;
    background-color: #E7F2F0;
}

img:hover {
   
    animation: shake 0.5s;
  
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }