html, body{
    margin: 0;
    max-width: 100%;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #E7F2F0; 
}

/* --- PAGE 1 ----------------------------------------------------------------*/

ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
  }

.nav-bar {
    overflow: hidden;
    background-color: #59A091;
    font-family: 'Manrope', sans-serif;
    margin: 8px;
  }
  
.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    transition: 0.3s;
  }

  /*mouse over*/
.nav-bar a:hover{
      background-color: #2D7969; 
  }

.main{
    display: flex;
    flex-direction: column;
}

.main_title{
    font-family: 'Manrope', sans-serif;
    font-size: 96px;
    margin-bottom: 0;
}

.rectangle1{
    position: absolute;
    width: 622px;
    height: 6px;
    /*
    left: 63px;
    top: 201px;
    */
    background: #59A091;
}

.page1, .page2, .page3{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 1024px;
    width: 1440px;
}

.page1{
    padding-left: 50px;
    padding-right: 50px;
}

.page2{
    padding-left: 50px;
}

.main_blurb p{
    font-size: 48px;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    left: 168px;
    top: 100px;
}

.span1{
    color: #59A091;
}

.span2{
    color: #FFC32E;
}

.main_second_blurb{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_second_blurb p{
    font-size: 36px;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    left: 168px;
    top: 50px;
}

.main_second_blurb p:nth-child(2){
    display: flex;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    margin-top: 4rem;
}
.main_second_blurb p:nth-child(3){
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 42px;
    margin: 0;
}
.main_second_blurb p:nth-child(4){
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}


/* --- PAGE 2 ------------------------------------------------------------------ */


.page2{
    background-color: #BEE2DC;
    max-width: 100%;
    width: 100vw;
}

.page2_main_blurb p{
    font-size: 36px;
    font-family: 'Manrope', sans-serif;
}

.page2_main_blurb{
    margin-bottom: 75px;
}

.page2_span1{
    color: #59A091;
}

.page2_span2{
    color: #F16D6D;
}

.manrope_showcase{
    display: flex;
    
}

.manrope_showcase div{
    padding-left: 1rem;
}

.manrope_showcase_1{
    display: flex;
    flex-grow: 3;

    flex-direction: column;
    border-right: 3px solid black;
    padding-right: 10rem;
}

.manrope_showcase_1 h1{
    margin: 0.25rem;
    font-size: 48px;
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
}

.manrope_showcase_1 h1:first-child{
    font-weight: bold;
}

.manrope_showcase_1 h1:last-child{
    font-size: 288px;
    font-weight: bold;
}

.manrope_showcase_2{
    display: flex;
    flex-grow: 2;

    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 3rem;
}

.manrope_showcase_3{
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    justify-content: space-evenly;
}

.manrope_showcase_3 h1, p{
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
}

.manrope_showcase_3 h1:first-child{
    font-size: 64pt;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    top: -1.66rem;
}

.manrope_showcase_3 h1:nth-child(2){
    font-size: 27pt;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: -2.5rem;
}

.manrope_showcase_3 p{
    font-size: 20pt;
    margin: 0;
    position: relative;
    top: -3rem;
}

.manrope_showcase_3_links_display{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 0.75rem;
}

.manrope_showcase_3_links_display p{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}

.manrope_showcase_3_links_display p:nth-child(2){
    position: relative;
    left: 1rem;
}

.manrope_showcase_3_links_display p:nth-child(3){
    position: relative;
    left: 3rem;
}

.manrope_showcase_3_links_display p:nth-child(4){
    position: relative;
    left: 4rem;
}

.arrow{
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
}

.right{
    transform: rotate(-45deg);
}

.manrope_showcase_3_button_display{
    background-color: black;
    height: 72px;
    width: 276px;
}

.manrope_showcase_3_button_display p{
    color: white;
    position: relative;
    top: 1.5rem;
    left: 4.5rem;
    font-size: 14pt;
}

/* --- PAGE 3 ---------------------------------------------------------------- */


.page3{
    width: 100%;
    padding-left: 50px;
    height: 940px;
}

.page3_main_blurb p{
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
}

.page3_main_blurb{
    margin-bottom: 75px;
}

.page3_span1{
    color: #59A091;
}

.page3_span2{
    color: #F16D6D;
}

.quicksand_showcase_1{
    display: flex;
    flex-grow: 3;

    flex-direction: column;
    border-right: 3px solid black;
    padding-right: 10rem;
}

.quicksand_showcase_3{
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    justify-content: space-evenly;
}

.quicksand_showcase_1 h1{
    margin: 0.25rem;
    font-size: 48px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

.quicksand_showcase_3 h1, p{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

.quicksand_showcase_1 h1:first-child{
    font-weight: bold;
}

.quicksand_showcase_1 h1:last-child{
    font-size: 288px;
    font-weight: bold;
}

.quicksand_showcase_3 h1, p{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

.quicksand_showcase_3 h1:first-child{
    font-size: 64pt;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    top: -1.66rem;
}

.quicksand_showcase_3 h1:nth-child(2){
    font-size: 27pt;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: -3rem;
}

.quicksand_showcase_3 p{
    position: relative;
    top: -4.5rem;
}

.quicksand_showcase{
    font-family: 'Quicksand', sans-serif;
    display: flex;
}

.quicksand_showcase div{
    padding-left: 1rem;
}

.quicksand_showcase_3_links_display{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 2rem;
}

.quicksand_showcase_3_links_display p{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}

.quicksand_showcase_3_links_display p:nth-child(2){
    position: relative;
    left: 1rem;
}

.quicksand_showcase_3_links_display p:nth-child(3){
    position: relative;
    left: 3rem;
}

.quicksand_showcase_3_links_display p:nth-child(4){
    position: relative;
    left: 4rem;
}

.quicksand_showcase_3_button_display{
    background-color: black;
    height: 72px;
    width: 276px;
    display: flex;
}

.quicksand_showcase_3_button_display p{
    color: white;
    position: relative;
    top: 0.33rem;
    left: 4.5rem;
    font-size: 14pt;
}